%head
    %title Git Mates
    = favicon_link_tag (path_to_image "favicon.ico")
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = yield :head
    = csrf_meta_tags